#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 75px;
  background-color: #192841;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.5);
}

.grid {
  display: grid;
  grid-template-columns: 65% 1fr;
}

.container {
  height: 90%;
}

.container__left {
  border-right: 5px solid white;
  display: grid;
  place-items: center;
}

.container__right {
  display: grid;
  grid-template-rows: 80% 1fr;
}

#reset {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1d1d1d;
}

.upgrade {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: center;
  margin: 15px;
}
