@import url(https://fonts.googleapis.com/css?family=Sen:regular,700,800);
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #252525;
  overflow: hidden;
}

button:disabled {
  background-color: rgb(182, 125, 125);
  color: rgba(255, 255, 255, 0.7);
  cursor: not-allowed;
  padding: 0.5rem 3.25rem;
  box-shadow: 0px 0px 3px rgba(190, 155, 155, 0.75),
    0px 0px 16px rgba(190, 155, 155, 0.3);
}

button {
  background-color: #fff;
  color: #4a4a4a;
  padding: 0.5rem 2rem;
  border: 0;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 0px 0px 3px rgba(255, 255, 255, 0.75),
    0px 0px 16px rgba(255, 255, 255, 0.3);
}

button:hover {
  background: #c9c9c9;
}

button:active {
  transform: scale(0.95);
}

button:disabled:hover {
  background-color: rgb(182, 125, 125);
}

#app {
  height: 100vh;
}

body,
a {
  color: white;
}

h1,
h2,
h3 {
  font-family: "Sen", sans-serif;
}

#criticalHit {
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  color: red;
  font-family: 500;
  font-size: 1.5rem;
}

#criticalHit h4 {
  margin-left: 20rem;
  animation: criticalHit 1.5s linear;
  text-shadow: 0px 0px 3px, 0px 0px 16px rgba(255, 0, 0, 0.4);
}

@keyframes criticalHit {
  0% {
    opacity: 1;
    transform: translateY(10rem);
  }
  50% {
    opacity: 1;
    transform: translateY(0rem);
  }
  100% {
    opacity: 0;
    transform: translateY(-10rem);
  }
}

.money {
  display: grid;
  place-items: center;
  padding: 50px;
  padding-inline: 100px;
  background-color: #1d1d1d;
  border-radius: 8px;
  box-shadow: inset 0px 0px 3px rgba(23, 23, 23, 0.75),
    inset 0px 0px 16px rgba(10, 10, 10, 0.3);
}

#cash,
#addCash {
  text-align: center;
  font-family: "Sen", sans-serif;
}

#addCash,
#rebirth {
  text-shadow: 0px 0px 2px rgba(162, 158, 158, 0.75),
    0px 0px 20px rgba(162, 158, 158, 0.3);
}

#cash_dollarsign {
  color: #00ff00;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  text-shadow: 0px 0px 2px, 0px 0px 8px;
}

#cash_updater {
  font-size: 4.25rem;
  font-weight: 700;
  text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.75),
    0px 0px 20px rgba(255, 255, 255, 0.3);
}

#addCash_plus {
  color: #5983cb;
  font-size: 1.75rem;
  font-weight: 600;
  text-shadow: 0px 0px 2px, 0px 0px 8px;
}

#addCash_updater {
  color: rgb(231, 223, 223);
  font-size: 1.75rem;
  font-weight: 600;
}

#addCash_persecond {
  color: rgb(162, 158, 158);
  font-size: 1rem;
  font-weight: 600;
}

#rebirth {
  text-align: center;
  font-size: 1.125rem;
  font-weight: 700;
  margin-top: 0.25rem;
}

#rebirth span {
  margin: 1px;
}

#rebirth_yellow {
  color: yellow;
}

#clicker button {
  margin-top: 1rem;
  padding: 1rem 4rem;
  border-radius: 10px;
}

.clickerPopup {
  position: absolute;
  justify-content: center;
  align-items: center;
  color: greenyellow;
  font-family: 500;
  font-size: 1.125rem;
  animation: clickerPopup 1.5s linear;
  text-shadow: 0px 0px 3px, 0px 0px 12px rgba(173, 255, 47, 0.4);
  pointer-events: none;
}

@keyframes clickerPopup {
  0% {
    opacity: 1;
    transform: translateY(-3.25rem);
  }
  50% {
    opacity: 1;
    transform: translateY(-10.75rem);
  }
  100% {
    opacity: 0;
    transform: translateY(-18.25rem);
  }
}

#rebirthing {
  height: 100%;
  width: 100%;
  position: fixed;
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1000;
}

#upgrades {
  overflow-y: scroll;
  white-space: nowrap;
  display: block;
}

.upgrade {
  width: 90%;
  margin-left: 3%;
  margin-top: 1.25rem;
  margin-bottom: 0.5rem;
  padding: 2%;
  background-color: #1d1d1d;
  border-radius: 12px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.5);
}

.upgrade:has(button:disabled) {
  opacity: 0.7;
}

.upgrade__name {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: "Sen", sans-serif;
}

.upgrade__description {
  font-size: 0.85rem;
  font-weight: 400;
  font-family: "Sen", sans-serif;
  color: gainsboro;
}

.upgrade__details {
  margin-top: 5px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.upgrade__cost {
  font-size: 1rem;
  font-weight: 600;
  color: #00ff00;
}

.upgrade__amount {
  font-size: 1rem;
  font-weight: 600;
  color: rgb(205, 178, 178);
}

.upgrade__button {
  padding: 0.5rem 4rem;
}
